<h1>Edit Country</h1>

<form [formGroup]="countryForm" (ngSubmit)="handleSubmit()">

    <div class="mb-3">

        <label class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="name">

        @if (countryForm.controls["name"].invalid && (countryForm.controls["name"].touched || countryForm.controls["name"].dirty)) {

            @if (countryForm.controls["name"].errors?.["required"]) {

                <small class="text-danger">
                    Name is required
                </small>
            }

            @if (countryForm.controls["name"].errors?.["forbiddenName"]) {

                <small class="text-danger">
                    Name is not allowed
                </small>
            }

            @if (countryForm.controls["name"].errors?.["countryNameExists"]) {

                <small class="text-danger">
                    Name already exists
                </small>
            }
        }

    </div>

    <div class="mb-3">

        <label class="form-label">Iso 2</label>
        <input type="text" class="form-control" formControlName="iso2">

        @if (countryForm.controls["iso2"].invalid && (countryForm.controls["iso2"].touched || countryForm.controls["iso2"].dirty)) {

            @if (countryForm.controls["iso2"].errors?.["required"]) {
                <small class="text-danger">
                    Iso 2 is required
                </small>
            }

            @if (countryForm.controls["iso2"].errors?.["minlength"]) {
                <small class="text-danger">
                    Iso 2 is too short
                </small>
            }

            @if (countryForm.controls["iso2"].errors?.["maxlength"]) {
                <small class="text-danger">
                    Iso 2 is too long
                </small>
            }
        }

    </div>

    <div class="mb-3">

        <label class="form-label">Iso 3</label>
        <input type="text" class="form-control" formControlName="iso3">

        @if (countryForm.controls["iso3"].invalid && (countryForm.controls["iso3"].touched || countryForm.controls["iso3"].dirty)) {

            @if (countryForm.controls["iso3"].errors?.["required"]) {
                <small class="text-danger">
                    Iso 3 is required
                </small>
            }

            @if (countryForm.controls["iso3"].errors?.["minlength"]) {
                <small class="text-danger">
                    Iso 3 is too short
                </small>
            }

            @if (countryForm.controls["iso3"].errors?.["maxlength"]) {
                <small class="text-danger">
                    Iso 3 is too long
                </small>
            }
        }
        
    </div>

    <div class="mb-3">
        
        <label class="form-label">Iso number</label>
        <input type="number" class="form-control" formControlName="isoNumber">

        @if (countryForm.controls["isoNumber"].invalid && (countryForm.controls["isoNumber"].touched || countryForm.controls["isoNumber"].dirty)) {

            @if (countryForm.controls["isoNumber"].errors?.["required"]) {
                <small class="text-danger">
                    Iso number is required
                </small>
            }
        }

    </div>

    <div class="btn-group">
        <button type="submit" class="btn btn-success">
            <i class="bi bi-check-circle"></i>
            OK
        </button>
        <a href="javascript:history.back();" class="btn btn-primary">
            <i class="bi bi-arrow-left-circle"></i>
            Back
        </a>
    </div>

</form>
