@page "/"

<PageTitle>Country Service - Admin App</PageTitle>

<h1>Country Service - Admin App</h1>

<p>Blazor WASM Web Application using an ASP.NET Web API, SQL Server, all running on Azure.</p>

Source code: 
<a href="https://github.com/paul-marquick/country-service" target="_blank">
    <i class="bi bi-github" title="GitHub"></i>
</a>
