<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

    <div class="container-fluid">

        <a href="" class="navbar-brand">
            <i class="bi bi-globe-europe-africa"></i>
            Country Service
        </a>

        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="@NavMenuCssClass">

            <ul class="navbar-nav me-auto mb-2 mb-md-0">

                <li class="nav-item"> 
                    <a href="" class="nav-link">
                        <i class="bi bi-house"></i>
                        Home
                    </a> 
                </li>

                <li class="nav-item"> 
                    <a href="country" class="nav-link">
                        <i class="bi bi-geo-alt"></i>
                        Countries
                    </a> 
                </li>

                <li class="nav-item"> 
                    <a href="service-info" class="nav-link">
                        <i class="bi bi-info"></i>
                        Service Info
                    </a> 
                </li>

            </ul>

            <ul class="navbar-nav ml-auto mb-2 mb-md-0">

                <li class="nav-item">
                    <a class="nav-link active" href="https://github.com/paul-marquick/country-service" target="_blank">
                        <i class="bi bi-github" title="GitHub"></i>
                    </a>
                </li>

            </ul>

        </div>

    </div>

</nav>

@code {
    private bool collapseNavMenu = true;
    string baseMenuClass = "navbar-collapse collapse";
    private string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? "" : " show");

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
