@page "/country"

@using CountryService.BlazorAdminApp.HttpClients
@using CountryService.Dtos.Country
@using CountryService.BlazorAdminApp.Components.DataGrid
@using System.Threading

@inject ICountryHttpClient countryHttpClient

<PageTitle>Countries</PageTitle>

<h1>Countries</h1>

<a class="btn btn-primary" href="/country/add">
    <i class="bi bi-plus"></i>
    Add Country
</a>

<DataGrid columns="columns" TRow="Country" rows="countries" keyColumnName="Iso2" showEditColumn="true" showDeleteColumn="true" />

@code {
    private List<Country>? countries;
    private List<Column> columns = new()
    {
        new Column { Name = "Iso2", HeaderText = "ISO 2" },
        new Column { Name = "Iso3", HeaderText = "ISO 3" },
        new Column { Name = "IsoNumber", HeaderText = "ISO Number" },
        new Column { Name = "Name", HeaderText = "Name" },
        new Column { Name = "CallingCode", HeaderText = "Calling Code" }
    };
    protected override async Task OnInitializedAsync()
    {
        countries = await countryHttpClient.GetCountriesAsync();

        StateHasChanged();
    }
}
