@page "/category/edit"
@using NewsPlatform.Web.ApiClients
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]

@inject CountryServiceApiClient NewsApiClient

<PageTitle>Edit Category</PageTitle>

<h1>Edit Category</h1>

@if (category == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <form>

        <div class="mb-3">
            <label for="inputId" class="form-label">Id</label>
            <input type="text" class="form-control" id="inputId" value="@category.Id" readonly>
        </div>

        <div class="mb-3">
            <label for="inputName" class="form-label">Name</label>
            <input type="text" class="form-control" id="inputName" value="@category.Name">
        </div>

        <button type="button" class="btn btn-primary">Ok</button>

    </form>
}

@code {
    private Country? category;

    protected override async Task OnInitializedAsync()
    {
        category = await NewsApiClient.GetCategoryByIdAsync(new Guid("79818fb8-d248-4987-9a50-a278f01233a4"));
    }
}
